			<p> If you're here early, welcome. This website will change significantly in the future. Want to see the latest updates? Use Ctrl + Shift + R, or Command + Shift + R to force-reload the site and its cache.</p>
			<p> <i>Unless otherwise stated, all original content published on this website and any derivative thereof falls under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank" rel="noopener noreferrer"> the CC-BY-SA 4.0 International license</a>. Third-party copyrighted material appearing on this website is used with the permission of the respective copyright holders but do not fall under the same CC-BY-SA 4.0 license unless explicitly stated otherwise. The given copyright holders will be appropriately referenced for each instance of said material.</i> </p>
			<div class="socials">
				<div class="center">
					<a class="image-link" href="https://discord.gg/AFTgkjhrvw">
						<img src="/Discord.png" alt="Link to The Official Vanquera Discord Server" style="width:40px;">
					</a>&ensp;
					<a class="image-link" href="https://www.youtube.com/@VanqueraWiki">
						<img src="/YouTube.png" alt="Link to The Official Vanquera YouTube Channel" style="width:40px;">
					</a>&ensp;
					<a class="image-link" href="https://www.reddit.com/r/vanquera/">
						<img src="/Reddit.png" alt="Link to The Official Vanquera Subreddit" style="width:40px;">
					</a>
				</div>
			</div>