	<nav><strong>
		<ul>
			<li><a href="/">Home</a></li> &nbsp; 
			<li class="dropdown"><a href="/vanquera/">Vanquera</a> &nbsp;
				<ul class="dropdown-content">
					<li class="sub-dropdown"><a href="/mana/">Mana</a>
						<ul class="sub-dropdown-content">
							<li><a href="/mana/mana-deities/">Mana Deities</a></li>
							<li><a href="/mana/mana-casters/">Mana Casters</a></li>
							<li><a href="/mana/manasteel/">Manasteel</a></li>
							<li><a href="/mana/manawood/">Manaroot</a></li>
							<li><a href="/mana/manablooms/">Manablooms</a></li>
							<li><a href="/technology/slabs/">Slabs</a></li>
						</ul>
					</li>
					<li class="sub-dropdown"><a href="/mechabeast/">Mechabeast</a>
						<ul class="sub-dropdown-content">
							<li><a href="/mechabeast/apex-class/majora/">Majora</a></li>
							<li><a href="/mechabeast/leviathon-class/manarta/">Manarta</a></li>
							<li><a href="/mechabeast/leviathon-class/vantur/">Vantur</a></li>
							<li><a href="/mechabeast/titan-class/usura/">Usura</a></li>
							<li><a href="/mechabeast/giant-class/gimaera/">Gimaera</a></li>
							<li><a href="/mechabeast/bantam-class/tridibaks/">Tridibaks</a></li>
						</ul>
					</li>
					<li><a href="/locations/">Locations</a></li>
					<li><a href="/history/events/">Events</a></li>
					<li><a href="/flora/">Flora</a></li>
					<li><a href="/fauna/">Fauna</a></li>
					<li><a href="/technology/">Technology</a></li>
				</ul>
			</li>
			<!-- <li><a href="https://teespring.com/stores/carpool-crowd-concessions">Merchandise</a></li> &nbsp; -->
			<li class="dropdown"><a href="/people/">People</a>
				<ul class="dropdown-content">
					<li class="sub-dropdown" ><a href="/people/individuals/">Individuals</a>
						<ul class="sub-dropdown-content">
							<li><a href="/people/individuals/evitt-felton/">Evitt Felton</a></li>
							<li><a href="/people/individuals/jadeth-camiern/">Jadeth Camiern</a></li>
						</ul>
					</li>
					<li class="sub-dropdown"><a href="/people/families/">Families</a>
						<ul class="sub-dropdown-content">
							<li><a href="/people/families/thaofosho-family/">Thaofoshos</a></li>
						</ul>
					</li>
					<li><a href="/people/cultures/">Cultures</a></li>
					<li><a href="/">Celestials</a></li>
				</ul> &nbsp; 
			</li>
			<li class="dropdown"><a href="/stories/">Stories</a>
				<ul class="dropdown-content">
					<li><a href="/stories/cilicia/">Cilicia Royamin</a></li>
					<li><a href="/stories/the-manabloom/">The Manabloom</a></li>
					<li><a href="/stories/lovelocks-tragedy/">Lovelock's Tragedy</a></li>
					<li><a href="/stories/blonde-river-spirit/">Spirit of the Blonde River</a></li>
					<li class="sub-dropdown"><a href="/stories/parables-of-swordsway/">Parables of Swordsway</a>
						<ul class="sub-dropdown-content">
							<li><a href="/stories/parables-of-swordsway/clean-and-polished/">The Blade is Clean and Polished</a></li>
						</ul>
					</li>
				</ul> &nbsp;
			</li>
			<li><a href="/what-is-vanquera/">What is Vanquera?</a></li> &nbsp;
		</ul>
	</strong></nav>